.headfoot{
    text-align: center;
}

.buttons{
    height: 75px;
    float:left;
}

.divs{
    border: 1px solid;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
}

.top40{
    top: 40%;
    font-size: large;
}

.maxmin{
    max-width: 100%;
    min-width: 100%;
    min-height: 581px;
    max-height: 581px;
}

.padding{
    padding: 0px;
}

.right{
    float: right;
}

.maxminliste{
    max-width: 500px;
    min-width: 500px;
    min-height: 100px;
    max-height: 100px;
}

.left{
    float: left;
}

.invisible{
    display: none;
}

.errorinput{
    border: 2px solid red;
    border-radius: 4px;
}

.divMoitier{
    width: 37.5%;
}

.paddingBot{
    padding-bottom: 5px;
}